* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.root {
    height: 100vh;
}


body {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game {
    /* position: relative; */
    width: 1200px;
    height: 700px;
    background: rgba(0, 0, 0, 0.2);

    margin: 2rem auto;
}

header {
    width: 100%;
    height: 80px;
    background: lightgray;
}

header table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
}

.button {
    background: rgba(255, 255, 0, 0.235);
}

.lives span,
.hints span {
    position: relative;
}

/* main  */
.game__container {
    margin-top: 3em;
}


.records {
    display: inline-block;

    vertical-align: top;
    width: 30%;
    height: 510px;
    background: wheat;
}

.record__line {
    margin: 5px;
    padding-top: 15px;
    border: 1px solid black;
}

.record__name {
    width: 10ch;
}

.record__time {
    float: right;
    margin-right: 1em;
}


/* GAME BOARD  */

.mine-field {
    height: 510px;

    display: inline-block;
    width: 60%;
}

.mine-field table {

    margin: auto;
}

.board {
    width: 100%;
    height: 100%;
}

.mine-field table {
    border: 2px solid black;
    cursor: crosshair;
}

.cell {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(231, 217, 24);
}

.cell.open {
    background-color: rgb(179, 167, 7);
}

img {
    max-width: 20px;
    height: auto
}

img.big {
    position: absolute;
    z-index: 10;
    top: -20%;
    left: -15%;

    max-width: 50px;
}

img.small {
    position: absolute;
    z-index: 10;
    top: -20%;
    left: -5%;

    max-width: 20px;
}

footer {
    height: 50px;

    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: white;
}